* {
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vmin;
}

ul {
  list-style: none;
  padding-left: 0px;
}

input.SearchInput__input {
  width: 400px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid deepskyblue;
  color: deepskyblue;
  text-indent: 10px;
  margin-top: 10px;
}

input.SearchInput__input::placeholder {
  font-weight: 450;
}

input.SearchInput__input:focus {
  outline-color: royalblue;
}

div.SelectedLanguage {
  width: 600px;
}

div.SelectedLanguage > ul {
  display: flex;
  justify-content: center;
}

div.SelectedLanguage > ul > li {
  align-self: center;
  font-size: 0.8rem;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 0 10px;
  padding: 5px 10px;
}

div.SelectedLanguage > ul > li:hover {
  border: 1px solid firebrick;
  cursor: pointer;
}

div.SelectedLanguage > ul > li:active {
  color: firebrick;
  background-color: rgba(0, 0, 0, 0.1);
}

div.Suggestion {
  width: 400px;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  font-size: 1.1rem;
  text-indent: 10px;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 20px;
}

div.Suggestion::-webkit-scrollbar {
  height: 80%;
  border-radius: 30px;
  width: 15px;
}
div.Suggestion::-webkit-scrollbar-thumb {
  background-color: rgba(0, 191, 255, 0.8);
  border-radius: 30px;
}
div.Suggestion::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 30px;
  margin: 8px 0;
}

div.Suggestion > ul > li {
  padding: 5px 0;
  cursor: pointer;
}

div.Suggestion > ul > li:not(.Suggestion__no-results):hover {
  background-color: rgba(0, 191, 255, 0.5);
}

li.Suggestion__item--selected {
  font-weight: 600;
  color: white;
  background-color: deepskyblue;
}

li.Suggestion__no-results {
  cursor: not-allowed !important;
  font-weight: 600;
  color: grey;
}

li:not(.Suggestion__item--selected) > span.Suggestion__item--matched {
  font-weight: 600;
  color: royalblue;
}
